@use "../../constants/CssUtils/color.scss";
@use "../../constants/CssUtils/font.scss";

.gradient {
    position: absolute;
    width: 100%;
    background: rgba(255,0,123, 0.72);
    background: linear-gradient(90deg, rgba(255,0,123,0.72) 0%, rgba(0,118,255,0.72) 100%);
    
    filter: blur(100px);
    transform: translateY(-80%);
    z-index: -1;

}

.mainContainer {
    position: relative;

}

.heroTitle {
    color: color.$colorPrimary;
    font-size: 48px;
    // height: 32px;
    font-family: font.$fontFamilyDefault;
}

.heroSubTitle {
    color: color.$colorSecondary;
    font-size: 20px;
    font-family: font.$fontFamilyDefault;
}

.contacts > div {
    display: flex;
    color: color.$colorPrimary;
    margin: 4px 8px;
}

.HiMapPin, .HiMail {
    color: color.$colorPrimary;
}

.linkBtnContainer {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.linkBtn {
    transition: 0.150s;
}

.linkBtn:hover {
    transform: translateZ(80px);
}

.linkBtn:hover + *{
    transform: translateZ(60px);
}

.linkBtn:hover + * + *{
    transform: translateZ(20px);
}

.linkBtn:has(+ *:hover){
    transform: translateZ(60px);
}

.linkBtn:has(+ * + *:hover){
    transform: translateZ(20px);
}