@use "../../constants/CssUtils/color.scss";


.mainContainer {

}

.mainContainer > div {
    margin-top: 24px;
}

.sectionName {
    width: 25%;
    color: color.$colorPrimary;

}

.sectionContent {
    width: 75%;
}