@use "../../constants/CssUtils/color.scss";


.mainContainer {

}

.mainContainer > div {
    margin-top: 24px;
}

.sectionName {
    width: 100%;
    color: color.$colorPrimary;

}

.sectionContent {
    width: 100%;
}

@media (min-width: 1024px) {
    .sectionName {
        width: 25%;

    }

    .sectionContent {
        width: 75%;
    }
}